<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, true);
    $('select').formSelect();
    $('.tabs').tabs({swipeable:true});
    $('.tabs-content').css('height',window.innerHeight)
    $('.materialboxed').materialbox();
  });
  </script>

  <script src="<%=js%>"></script>
</body>
</html>