<%- include('../partials/header',{title:'Dərmanlar'}); %>

<div class="container">
  <div class="row">
    <div class="col s12">
      
    </div>
  </div>
</div>

<%- include('../partials/footer',{js:'/js/drug.js'}); %>
